.logo {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  mat-icon {
    font-size: 50px;
    color: #000;
  }
}
.menu-button {
  border: none;
  background: initial;
  cursor: pointer;
  width: initial;
  height: initial;
}
