@import 'grid';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.list {
  list-style: none;
  padding: 0;
  .list__link {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 5px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
  }
}
